@model IronShackles.Models.MessageViewModel

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.MessageTitle</title>
</head>
<body>
    <div>
        <h1>@Model.MessageTitle</h1>
        <h2>The current time right now is : @Model.Date</h2>
        <h2>The current version is : @Model.MessageVersionNumber</h2>
    </div>
</body>
</html>
